/*@import url('https://fonts.googleapis.com/css2?family=Poppins&Display=swap');
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant';

}

body {
    background-color: rgb(8 118 153);
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

header {
    position: relative;
    background-color: rgb(8 118 153);
    text-align: center;
    height: 50px;
    padding: 10px;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    padding: 5px 10px;
    background-color: rgb(8 118 153);
    display: flex;
    align-items: center;
    position: absolute;
    right: 21%;
}

.logo-img {
    position: fixed;
    top: 0%;
    right: 1%;
    width: 150px;
    height: auto;
    z-index: 4;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.menu button {
    background-color: rgb(8 118 153);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

.menu button:hover {
    background-color: rgb(10, 100, 127);
}

.separator {
    height: 100%;
    border-left: 1px solid rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}

.hamburger-menu {
    display: none;
    /* הסתרת תפריט המבורגר במחשב */
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}


footer {
    background-color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
}

.icons img {
    height: 60px;
    margin: 0 10px;
}

.background-imgs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-top-demos {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(0%);
}

.background-content-demos {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23%;
    height: 100%;
}

.background-bottom-demos {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(30%);
    max-height: 50vh;
}

.content {
    top: 25%;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(218 241 251);
    padding: 20px;
    min-height: 200px;
}

li {
    list-style-type: disc;
}

ul,
p {
    color: black;
}

.call-for-abstracts {
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}

.call-for-abstracts p {
    display: flex;
    text-align: center;
}

.demos ul {
    margin-left: 15px;
}

.call-for-abstracts ul {
    list-style: none;
    padding: 0;
}



.call-for-abstracts .with-color {
    color: rgb(9 118 152);
    text-decoration: underline;
    /* תיקון: החלפת enderscore ב-underline */
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
}

.with-bold {
    font-weight: bold;
}

.call-for-abstracts ul {
    list-style: none;
    /* הסרת הנקודות */
    padding-left: 0;
    /* הסרת ריפוד שמאלי */
}

.call-for-abstracts ul li {
    display: block;
    align-items: flex-start;
    margin-bottom: 60px;
}

/*rgb(9 118 152)*/

.demos-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave-line-h2 {
    color: rgb(9 118 152);
    text-align: center;

}

.wave {
    width: 100px;
    height: auto;
}

.miror {
    transform: scaleX(-1);
}

.demos-container {
    margin: 10px;
    margin-bottom: 30px;
}

.demos-container h2 {
    margin: 0 10px;
}

.demos {
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}

.imgs-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.imgs-row img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 3;

}

.organizing-committee {
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}

.organizing-committee ul {
    list-style: none;
    padding: 0;
}

.organizing-committee ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.organizing-committee .parson-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.organizing-committee ul li div {
    display: flex;
    flex-direction: column;
}

.organizing-committee .name {
    font-weight: bold;

    margin-bottom: 5px;
}


.home {

    margin-inline-start: 20%;
    margin-inline-end: 20%;
}

/*
.home p {
    font-family: 'Assistant';
    font-size: 0.7rem;
}
*/
#home-header {
    margin-top: 25px;
    text-align: left;
    margin-inline-start: 20%;
    margin-inline-end: 20%;

}

.home-header {
    width: 100%;
    text-align: center;
    color: white;
}

.home-header p {
    font-size: 0.95rem;
}

.home-header h2 {
    font-size: 2.5rem;
}

.home-header h3 {
    font-size: 1.5rem;
}

.home-header h2,
.home-header p,
.home-header h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
}


ol {
    list-style-type: none;
    counter-reset: item;
}

ol li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-left: 19px;
    color: black;
    /*font-size: 0.7rem;*/
}

ol li:before {
    content: counter(item);
    counter-increment: item;
    background-color: rgb(8 118 153);
    color: rgb(255, 255, 255);
    /* צבע טקסט */
    /* width: 0.7rem;
    height: 0.7rem;
    font-size: 0.7rem;*/
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.styled-button {
    width: 150px;
    /* הגדרת רוחב */
    padding: 4px;
    background-color: rgb(8 118 153);
    color: white;
    /* הגדרת צבע טקסט */
    border: none;
    /* הסרת גבול ברירת מחדל */
    border-radius: 5px;
    /* עיגול פינות (אופציונלי) */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* הוספת הצללה */
    cursor: pointer;
    /* שינוי סמן העכבר */
    font-size: 16px;
    /* הגדרת גודל טקסט (אופציונלי) */
}

.styled-button:hover {
    background-color: rgb(7, 97, 124);
}



.button-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .styled-button {
    width: 250px;
}

.register {

    text-align: center;
}

.to-be-updated {
    text-align: center;
    font-size: x-large;
}

















.sponsors {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    /* הגדלת ה-padding לרווח טוב יותר */
}

.sponsors-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor-item {
    display: flex;
    flex-direction: column;
    /* סידור אנכי של תמונה וטקסט */
    align-items: center;
    /* מרכוז אופקי של התוכן */
    margin: 20px;
    /* רווח בין פריטים */
    text-align: center;
    max-width: 250px;
    /* הגבלת רוחב פריט */
}

.sponsor-logo {
    background-color: #fff;
    width: 250px;

    height: 150px;

    margin-bottom: 10px;
    /* רווח בין תמונה לטקסט */
}

.sponsor-name {
    font-size: 16px;
    /* גודל גופן */
    font-weight: bold;
    /* טקסט מודגש */
    margin: 0;
    /* הסרת מרווחים מיותרים */
}


@media (max-width: 880px) {

    .call-for-abstracts p {
        flex-direction: column;
    }
    

    .menu {
        display: none;
        flex-direction: column;
        width: 50%;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(8 118 153);
        z-index: 5;
    }

    .menu button {
        width: 100%;
        text-align: left;
        margin: 5px 0;
    }

    .separator {
        display: none;
        /* הסתרת מפרידים בסמארטפון */
    }

    .hamburger-menu {
        display: flex;
        /* הצגת תפריט המבורגר בסמארטפון */
    }

    .menu.active {
        display: flex;
    }

    .logo-img {
        left: 1%;
        width: 100px;

    }

    .background-top-demos {
        transform: translateY(0%);
    }



    .home {

        margin-inline-start: 5%;
        margin-inline-end: 5%;
    }

    .organizing-committee {
        margin-inline-start: 5%;
        margin-inline-end: 5%;
    }

    .call-for-abstracts {
        margin-inline-start: 5%;
        margin-inline-end: 5%;
    }

    .demos {
        margin-inline-start: 5%;
        margin-inline-end: 5%;
    }
}

@media (max-width: 500px) {

    .home-header p {
        font-size: 0.75rem;
    }

    .home-header h2 {
        font-size: 1.5rem;
    }

    .home-header h3 {
        font-size: 1rem;
    }

    .imgs-row img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        z-index: 3;

    }
}